---
import type { CollectionEntry } from 'astro:content'

type Props = {
	item: CollectionEntry<'blog'>
}

const { item } = Astro.props

const href = `/blog/${item.slug}/`

function readTime(text: string) {
	const wpm = 225
	const words = text.trim().split(/\s+/).length
	return Math.ceil(words / wpm)
}
---

<li>
	<a href={href} class="flex flex-col px-4 py-6">
		<h2 class="text-lg font-bold">{item.data.title}</h2>
		<p>{item.data.description}</p>
		<div class="mt-4 flex gap-2 text-sm">
			<span
				>{
					item.data.publishDate.toLocaleDateString('en', {
						month: 'short',
						day: '2-digit',
						year: 'numeric',
						timeZone: 'UTC'
					})
				}</span
			>
			<span>·</span>
			<span>{readTime(item.body)} min read</span>
		</div>
	</a>
</li>
